@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
header, section, article, footer {
    display: flex;
    justify-content: center;
}
.w-1250{
    width: 1250px;
    height: 100%;
}
header{
    width: 100%;
    position: fixed;
    background: #EFF0F3;
    height: 86px;
    box-shadow: 4px 6px 13px 0px rgba(215, 215, 215, 0.25);
    z-index: 1;
}
.header_items{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.header_items h2{
    color: #001858;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 36px;
    font-weight: 600;
}
.header_items span{
    color: #6246EA;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 18px;
    font-weight: 700;
}
nav ul{
    width: 756px;
    height: 44px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    gap: 50px;
}
nav li > a{
    color: #2B2C34;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 20px;
    font-weight: 700;
    text-transform: capitalize;
}
nav button{
    width: 213px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-radius: 4px;
    background: #6246EA;
    padding: 10px 17px;
    gap: 10px;
}
nav button a{
    color: #FFFFFE;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 18px;
    font-weight: 700;
    text-transform: capitalize;
}
.introduction{
    background: #EFF0F3;
    height: 900px;
}
.introduction_items{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.introduction_description{
    width: 664px;
    height: 345px;
    display: flex;
    flex-direction: column;
    gap: 33px;
}
.introduction_description h1{
    width: 617px;
    color: #2B2C34;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 64px;
    font-weight: 700;
    text-transform: capitalize;
}
.introduction_description p{
    color: #9A9494;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 20px;
    font-weight: 400;
    border-left: 3px solid #2B2C34;
    padding-left: 12px;
}
form{
    width: 609px;
    display: flex;
    justify-content: space-between;
}
form > input[type="email"]{
    width: 444px;
    height: 67px;
    background: #FFFFFE;
    border: 0;
    border-radius: 8px;
    padding-left: 25px;
}
form input[type="email"]::placeholder{
    color: #C0C0C0;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 20px;
    font-weight: 400;
}
form input[type="submit"]{
    width: 145px;
    height: 67px;
    border: 0;
    border-radius: 8px;
    background: #6246EA;
    color: #FFFFFE;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 20px;
    font-weight: 700;
    text-transform: capitalize;
}
.category{
    height: 500px;
    background: #EFF0F3;
}
.category_items{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}
.browse_items{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.browse_items h2{
    color: #2B2C34;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 24px;
    font-weight: 700;
    text-transform: capitalize;
}
.browse_items h3{
    color: #2B2C34;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 20px;
    font-weight: 700;
    text-transform: capitalize;
}
.cards{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
    flex-wrap: wrap;
}
.card{
    height: 280px;
    width: 220px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 30px;
    border-radius: 8px;
    gap: 30px;
    box-shadow: 4px 6px 13px 0px rgba(215, 215, 215, 0.25);
    background: #FFFFFE;
    transition: 1s;
}
.card img{
    width: 40%;
}
.card div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    background: #FFFFFE;
    border-radius: 7.458px;
}
.cards > div:hover{
    background: #6246EA;
    transition: 1s;
    transform: scale(1.05);
}
.card h3{
    color: #2B2C34;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 24px;
    font-weight: 700;
    text-transform: capitalize;
}
article {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    min-height: 0;
    flex: none;
}
.articles {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    height: auto;
    min-height: 0;
    justify-content: space-between;
}

.article_item {
    height: 425px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    transition: 1s;
}
.article_item:hover{
    transform: scale(1.05);
    border-radius: 12px;
    background: #FFFFFE;
    box-shadow: 4px 6px 13px 0px rgba(215, 215, 215, 0.25);
    transition: 1s;
}
.blog{
    height: 2504px;
}
.articles_group{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 80px;
}
.article_item div:nth-child(1){
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.article_item div:nth-child(1) h3{
    width: 260px;
    color: #2B2C34;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 20px;
    font-weight: 700;
    text-transform: capitalize;
}
.article_item div:nth-child(2){
    display: flex;
    align-items: center;
    gap: 15px;
}
.article_item div:nth-child(2) div{
    width: 184px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    line-height: 0;
    gap: 4.2px;
    margin-top: 10px;
}
.article_item div:nth-child(2) div p:nth-child(1){
    color: #2B2C34;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 16px;
    font-weight: 600;
}
.article_item div:nth-child(2) div p:nth-child(2){
    width: 184px;
    color: #2B2C34;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 14px;
    font-weight: 400;
    text-transform: capitalize;
}
.articles_group button{
    width: 165px;
    height: 64px;
    border-radius: 8px;
    background: #6246EA;
}
.articles_group button a{
    color: #FFFFFE;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 20px;
    font-weight: 700;
    text-transform: capitalize;
}
.latest_updates{
    background: #EFF0F3;
    height: 453px;
}
.latest_updates_content{
    display: flex;
    justify-content: center;
    margin: 58px 0;
}
.latest_updates_items{
    width: 696px;
    height: 337px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.latest_updates_items h2{
    width: 604px;
    color: #2B2C34;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 36px;
    font-weight: 700;
    text-transform: capitalize;
}
.latest_updates_items p{
    width: 696px;
    color: #C0C0C0;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 20px;
    font-weight: 400;
}
.footer_items h2{
    color: #001858;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 36px;
    font-weight: 600;
}
.footer_items span{
    color: #6246EA;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 18px;
    font-weight: 700;
}
.footer_items p{
    width: 284px;
    color: #2B2C34;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 18px;
    font-weight: 400;
}
.footer_items h5{
    color: #2B2C34;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
}
.copyright{
    margin-top: 2rem;
}
.social_medias{
    width: 190px;
    display: flex;
    justify-content: space-between;
}


